.footer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-logo{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.logo{
    height: 5rem;
}

.footer-details{
    display: flex;
    margin: 1rem;
    justify-content: space-around;

}

.quick-links ul li{
    margin-bottom: 1rem;
}

.footer-copyright{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.complete-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 0.5rem;
}