.footer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-logo{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.logo{
    height: 5rem;
    border-radius: 1rem;
}

.footer-details{
    display: flex;
    margin: 1rem;
    justify-content: space-around;

}

.quick-links ul li{
    margin-bottom: 1rem;
}

.footer-copyright{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.complete-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    /* margin-bottom: 0.5rem; */
}

.quick-links{
    display: flex;
}
.contact-details{
    margin-left: 8rem;
}

@media screen and (max-width: 520px)
{
    .footer-details{
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        margin-left: 3.5rem;
    }
    .quick-links{
        margin-top: 1rem;
        /* justify-content: space-between; */
    }
    .contact-details{
        margin-left: 3rem;
    }
}

.complete-footer{
    font-family: 'roboto', 'sans-serif';
    background-color: #e8f1fd;
}

b{
    font-size: 1.1rem;
}